<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">tomi.arcade.client.blazor</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>