<div class="card">
    <img src="_content/tomi.arcade.game.gol.client/img/gol.png" class="card-img-top" />
    <div class="card-body">
        <a href="https://github.com/tomp736/tomi.blazor.arcade/actions/workflows/build-arcade-gol-server.yml">
            <img src="https://github.com/tomp736/tomi.blazor.arcade/actions/workflows/build-arcade-gol-server.yml/badge.svg" />
        </a>
        <h5 class="card-title">Game of Life</h5>
        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
        <a href="/gol" class="btn btn-primary">Go</a>
    </div>
</div>