@page "/"
@using System.Threading
@using System.Linq
@using Google.Protobuf.Collections
@using Grpc.Core

@inject protos.GameOfLifeService.GameOfLifeServiceClient GameOfLifeClient
@inject IJSRuntime JsRuntime

<div class="card" style="width: 18rem;">
    <img src="img/gol.png" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">Game of Life</h5>
        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
        <a href="/gol" class="btn btn-primary">Go somewhere</a>
    </div>
</div>