name: .Net Build Arcade Server

on:
  push:
    branches: master
      
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    name: .NET 5 Application
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2
      with:
        repository: labrats-work/gitops
        path: main
      
    - name: Checkout Tools
      uses: actions/checkout@v2
      with:
        repository: labrats-work/gitops
        token: ${{ secrets.GITOPS_REPO_PAT }}
        path: gitops
        
    - name: Copy CI files for build.
      run: cp -rv gitops/tomi.blazor.arcade/* main      
      
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: main/docker/arcade-blazor-client.Dockerfile
        push: true
        tags: taps521/arcade-blazor-client:latest
